body {
  background-color: rgb(255, 255, 255);
  font: 400 1.875em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.text {
  position: relative;
  float: left;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 19.0833333333%;
  height: 40px;
  margin: 107px 0 0 39.66667%;
  border-radius: 3px;
  background-color: rgb(18, 59, 152);
  font-size: 0.533em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-1 {
  z-index: 0;
  width: 12.0833333333%;
  min-height: 60px;
  margin: 56px 0 0 38.16667%;
  font-size: 3.333em;
  font-weight: 700;
}

.text-2 {
  clear: both;
  z-index: 2;
  width: 20.3333333333%;
  min-height: 28px;
  margin: -9px 0 0 41%;
  font-size: 1em;
}